<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ADM_Core>
            <version>0.1.1</version>
        </ADM_Core>
    </modules>
    <global>
        <blocks>
            <adm_core>
                <class>ADM_Core_Block</class>
            </adm_core>
        </blocks>    
        <models>
            <adm_core>
                <class>ADM_Core_Model</class>
            </adm_core>
        </models>
        <helpers>
            <adm_core>
                <class>ADM_Core_Helper</class>
            </adm_core>
        </helpers>    
    </global>
    <frontend>
        <layout>
            <updates>
                <adm_core>
                    <file>adm/core.xml</file>
                </adm_core>
            </updates>
        </layout>
    </frontend>    
</config>
